*{  
    margin: 0;  
    padding: 0; 
    }
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

div.id {
    width: 100%;
    border: 1px solid gray;
}
        

